# Project exclude paths
/.gradle/
/build/
/QAPI_v1_8_R1/build/
/QAPI_v1_8_R1/build/classes/java/main/
/QAPI_v1_8_R2/build/
/QAPI_v1_8_R2/build/classes/java/main/
/QAPI_v1_8_R3/build/
/QAPI_v1_8_R3/build/classes/java/main/
/QAPI_v1_9_R1/build/
/QAPI_v1_9_R1/build/classes/java/main/
/QAPI_v1_9_R2/build/
/QAPI_v1_9_R2/build/classes/java/main/
/QAPI_v1_10_R1/build/
/QAPI_v1_10_R1/build/classes/java/main/
/QAPI_v1_11_R1/build/
/QAPI_v1_11_R1/build/classes/java/main/
/QAPI_v1_12_R1/build/
/QAPI_v1_12_R1/build/classes/java/main/
/QAPI_v1_13_R1/build/
/QAPI_v1_13_R1/build/classes/java/main/
/QAPI_v1_13_R2/build/
/QAPI_v1_13_R2/build/classes/java/main/
/QAPI_v1_14_R1/build/
/QAPI_v1_14_R1/build/classes/java/main/
/QAPI_v1_15_R1/build/
/QAPI_v1_15_R1/build/classes/java/main/
/QAPI_v1_16_R1/build/
/QAPI_v1_16_R1/build/classes/java/main/
/QAPI_v1_16_R2/build/
/QAPI_v1_16_R2/build/classes/java/main/
/QAPI_v1_16_R3/build/
/QAPI_v1_16_R3/build/classes/java/main/
/QAPICore/build/
/QAPICore/build/classes/java/main/
/QAPIPlugin/build/
/QAPIPlugin/build/classes/java/main/
/debug/